body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto Mono", monospace;
  background-color: #304230;
}
/* Estilos Navbar */
.Navbar-Container {
  padding: 10px;
  background-color: #f3fde8;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-weight: bold;
  font-size: 14px;
  letter-spacing: 2px;
  color: #18c619;
}
.Navbar-SubContainer {
  display: flex;
  justify-content: space-between;
  width: 40%;
}
.Item-Container {
  width: 95%;
  display: flex;
  justify-content: space-around;
  list-style: none;
}
#logoNav {
  width: 50px;
  height: 50px;
}
#ShopCar {
  margin-top: 5px;
  width: 32px;
  height: 32px;
  cursor: pointer;
}
.Item-Navbar:hover {
  cursor: pointer;
  text-shadow: 1px 1px 1px #18c61883, -1px -1px 1px #18c61883;
}

/* Estilos para el modal */
.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
  padding-top: 50px;
}
.modal-content {
  background-color: #fefefe;
  margin: 5% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}
.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
.btnComprar{
    border-radius: 20px;
    background-color: #18c619;
    padding: 10px 20px;
    cursor: pointer;
    font-weight: bold;
    color: white;
    letter-spacing: 1px;
}
.btnComprar:hover{
    background-color: #18c6187a;
}