body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto Mono", monospace;
  background-color: #304230;
}
.mainContainer{
  display: flex;
  flex-direction: column;
  align-items: center;
}
a{
  text-decoration: none;
  color: inherit;
}
html {
  scroll-behavior: smooth;
}
/* Estilos Navbar */
.Navbar-Container {
  padding: 10px;
  background-color: #f3fde8;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-weight: bold;
  font-size: 14px;
  letter-spacing: 2px;
  color: #18c619;
  width: 100%;
}
.Navbar-SubContainer {
  display: flex;
  justify-content: space-between;
  width: 40%;
}

.Item-Container {
  width: 95%;
  display: flex;
  justify-content: space-around;
  list-style: none;
}
#logoNav {
  width: 50px;
  height: 50px;
}
#ShopCar {
  margin-top: 5px;
  width: 32px;
  height: 32px;
  cursor: pointer;
}
.Item-Navbar:hover {
  cursor: pointer;
  text-shadow: 1px 1px 1px #18c61883, -1px -1px 1px #18c61883;
}

/* Estilos para el modal */
.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
  padding-top: 50px;
}
.modal-content {
  background-color: #fefefe;
  margin: 5% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}
.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
.btnComprar{
    border-radius: 20px;
    background-color: #18c619;
    padding: 10px 20px;
    cursor: pointer;
    font-weight: bold;
    color: white;
    letter-spacing: 1px;
}
.btnComprar:hover{
    background-color: #18c6187a;
}
/* Estilos de bienvenida */
.ContainerBienvenida{
  width: 70%;
  height: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#MsjBienvenida{
  color: #18c619;
  font-weight: bold;
  text-align: center;
}
/* Subtitulos */
.subTitle{
  width: 100%;
  text-align: center;
  font-size: 40px;
  font-weight: bolder;
  color: #18c619;
  letter-spacing: 5px;
  border-bottom: 1px solid #18c619 ;
  padding-bottom: 20px;
}
/* Estilo de la grilla de productos */
#CardGridcontainer img{
  width: 100%;
  height: 150px;
  border-radius: 20px 20px 0px 0px;
}
#CardGridcontainer{
  width: 60%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 15px;
}
.CarContainer{
  background-color: #F3FDE8;
  width: 220px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  text-align: center;
}
.ProductName{
  margin-top: 8px;
  color: #18c619;
  font-weight: bold;
}
.ProductPrice{
  width: 100%;
  color: white;
  font-weight: bolder;
  letter-spacing: 4px;
  background-color: #18c619;
}
.BuyLink{
  color: white;
  font-weight: bold;
  letter-spacing: 2px;
  background-color: black;
  width: 70%;
  padding: 10px 10px;
  border-radius: 20px;
  margin: auto;
  margin-bottom: 12px;
  cursor: pointer;
}
.BuyLink:hover{
  background-color: rgb(83, 81, 81);
}
/* Footer */
footer{
  background-color: black;
  color: white;
  width: 100%;
  height: 100%;
}